
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #dedede;
    font-family: cursive;
}

header {
    display: flex;
    justify-content: center;
}
header h1 {
    background-color: #0e1625;
    color: #5b8ce2;
    padding: 10px;
    border-radius: 2px 16px;
}
.main-content {
    padding: 14px;
    display: flex;
    flex-direction: column;
}
textarea {
    background-color: #000000;
    color: #dedede;
    border-color: #262626;
    border-radius: 2px 16px;
    resize: none;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    }

    button {
    background-color: #0e1625;
    color: #5b8ce2;
    border: none;
    border-radius: 0 12px;
    font-size: 17px;
    font-family: cursive;
    margin: 6px 4px 0 0;
}
button:active {
    background-color: #132544;
}

.subject-info {
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

.image-wp {
    display: flex;
    justify-content: space-between;
}